<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head"); -%>
</head>

<body>
    <%- include("partials/header"); -%>

    <main>
        <div class="container">
            <div class="row gutter-5">
                <div class="col">
                    <h1 class="text-center">
                        <%= welcome %>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action="/cv" method="get">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Curriculms</label>
                            </div>
                            <select name="user" class="custom-select" id="inputGroupSelect01">
                                <option selected class="text-black-50">Choose...</option>
                                <% users.forEach(function(user){ %>
                                <option value=<%=user%>><%=user%></option>
                                <% }) %>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Button</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>